Repository TheBestTvarynka/eshka, pull requests merged in 2020-10, with the labels that each got.

#2 Login register
  backend/pom.xml
  backend/src/main/java/com/eshka/config/WebConfig.java
  backend/src/main/java/com/eshka/config/WebSecurityConfig.java
  backend/src/main/java/com/eshka/config/security/AppProperties.java
  backend/src/main/java/com/eshka/config/security/AuthCookieFilter.java
  backend/src/main/java/com/eshka/config/security/SecurityConfig.java
  backend/src/main/java/com/eshka/config/security/UserAuthentication.java
  backend/src/main/java/com/eshka/controller/AuthController.java
  backend/src/main/java/com/eshka/controller/UserController.java
  backend/src/main/java/com/eshka/dto/auth/AfterLoginDTO.java
  backend/src/main/java/com/eshka/dto/auth/LoginDTO.java
  backend/src/main/java/com/eshka/dto/auth/RegisterDTO.java
  backend/src/main/java/com/eshka/dto/request/UserDTO.java
  backend/src/main/java/com/eshka/dto/request/UserLoginDTO.java
  backend/src/main/java/com/eshka/entity/User.java
  backend/src/main/java/com/eshka/entity/UserSession.java
  backend/src/main/java/com/eshka/entity/enums/Role.java
  backend/src/main/java/com/eshka/exception/Handler.java
  backend/src/main/java/com/eshka/exception/UserNotExistException.java
  backend/src/main/java/com/eshka/exception/WrongCredentialsException.java
  backend/src/main/java/com/eshka/repository/UserSessionRepository.java
  backend/src/main/java/com/eshka/service/AuthService.java
  backend/src/main/java/com/eshka/service/TokenService.java
  backend/src/main/java/com/eshka/service/UserService.java
  backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LoginPage/index.tsx
  frontend/src/components/RegisterPage/index.tsx
  frontend/src/components/TeamsList/styles.module.sass
  frontend/src/containers/PrivateRoute/index.tsx
  frontend/src/containers/PublicRoute/index.tsx
  frontend/src/helpers/auth.helper.ts
  frontend/src/helpers/webApi.helper.ts
  frontend/src/models/appState.ts
  frontend/src/models/user.ts
  frontend/src/reducers/auth/reducer.ts
  frontend/src/reducers/index.ts
  frontend/src/sagas/auth/routines.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/index.ts
Labels: backend, frontend

#1 Add entity
  backend/src/main/java/com/eshka/entity/Queue.java
  backend/src/main/java/com/eshka/entity/QueueDetails.java
  backend/src/main/java/com/eshka/entity/Subject.java
  backend/src/main/java/com/eshka/entity/Team.java
Labels: backend

#6 fix(security): allow swagger
  backend/src/main/java/com/eshka/config/WebConfig.java
Labels: fix

#7 fix(security): allow swagger
  backend/src/main/java/com/eshka/config/security/SecurityConfig.java
Labels: fix

#12 Fix Auth
  backend/src/main/java/com/eshka/service/AuthService.java
  frontend/src/components/Header/index.tsx
  frontend/src/components/LoginPage/index.tsx
  frontend/src/helpers/auth.helper.ts
  frontend/src/helpers/webApi.helper.ts
  frontend/src/reducers/auth/reducer.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/subject/sagas.ts
Labels: fix

#13 Queue page design
  frontend/src/components/ConfirmationWindow/styles.module.sass
  frontend/src/components/InvitePage/styles.module.sass
  frontend/src/components/JoinTeamWindow/styles.module.sass
  frontend/src/components/LoginPage/index.tsx
  frontend/src/components/LoginPage/styles.module.sass
  frontend/src/components/QueuePage/index.tsx
  frontend/src/components/QueuePage/styles.module.sass
  frontend/src/components/Team/index.tsx
  frontend/src/components/TeamsList/index.tsx
  frontend/src/components/TeamsList/styles.module.sass
  frontend/src/components/TreamManagePage/styles.module.sass
  frontend/src/components/styles/buttons.module.sass
  frontend/src/components/styles/containers.module.sass
  frontend/src/components/styles/lists.module.sass
  frontend/src/containers/PrivateRoute/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/containers/SubjectPage/index.tsx
  frontend/src/models/queue.ts
  frontend/src/models/subject.ts
  frontend/src/models/user.ts
Labels: frontend

#17 Queue improvements
  frontend/src/components/CreateQueueWindow/index.tsx
  frontend/src/components/CreateQueueWindow/styles.module.sass
  frontend/src/components/QueuePage/index.tsx
  frontend/src/containers/SubjectPage/index.tsx
  frontend/src/models/queue.ts
  frontend/src/reducers/queue/reducer.ts
  frontend/src/sagas/queue/routines.ts
  frontend/src/sagas/queue/sagas.ts
Labels: frontend

#18 Team logic
  backend/src/main/java/com/eshka/controller/TeamController.java
  backend/src/main/java/com/eshka/dto/request/TeamRequest.java
  backend/src/main/java/com/eshka/dto/response/TeamResponse.java
  backend/src/main/java/com/eshka/entity/Team.java
  backend/src/main/java/com/eshka/exception/TeamNotFoundException.java
  backend/src/main/java/com/eshka/mapper/TeamMapper.java
  backend/src/main/java/com/eshka/repository/TeamRepository.java
  backend/src/main/java/com/eshka/service/TeamService.java
  backend/src/main/java/com/eshka/service/impl/TeamServiceImpl.java
Labels: backend

#19 Team joining
  backend/src/main/java/com/eshka/controller/TeamController.java
  backend/src/main/java/com/eshka/entity/Team.java
  backend/src/main/java/com/eshka/service/TeamService.java
  backend/src/main/java/com/eshka/service/impl/TeamServiceImpl.java
  backend/src/main/resources/application.properties
Labels: backend
