Repository TheBestTvarynka/eshka, pull requests merged in 2020-11, with the labels that each got.

#22 Queue improvements
  docs/resources/db_schema.png
  frontend/src/components/CreateQueueWindow/index.tsx
  frontend/src/components/CreateQueueWindow/styles.module.sass
  frontend/src/components/LoginPage/index.tsx
  frontend/src/components/QueuePage/index.tsx
  frontend/src/components/QueuePage/styles.module.sass
  frontend/src/components/RegisterPage/index.tsx
  frontend/src/helpers/dateTimeHelper.ts
  frontend/src/models/queue.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/queue/sagas.ts
Labels: fix, frontend

#23 A lot of small fixed
  backend/src/main/java/com/eshka/controller/QueueController.java
  backend/src/main/java/com/eshka/repository/QueueRepository.java
  backend/src/main/java/com/eshka/service/impl/QueueServiceImpl.java
  frontend/src/components/LoginPage/index.tsx
  frontend/src/components/QueuePage/index.tsx
  frontend/src/containers/SubjectPage/index.tsx
  frontend/src/helpers/dateTimeHelper.ts
  frontend/src/sagas/auth/sagas.ts
Labels: backend, fix, frontend

#21 Add teams to subjects
  backend/src/main/java/com/eshka/controller/SubjectController.java
  backend/src/main/java/com/eshka/dto/request/SubjectRequest.java
  backend/src/main/java/com/eshka/dto/response/SubjectResponse.java
  backend/src/main/java/com/eshka/entity/Subject.java
  backend/src/main/java/com/eshka/mapper/SubjectMapper.java
  backend/src/main/java/com/eshka/service/impl/SubjectServiceImpl.java
  backend/src/test/java/com/eshka/mapper/SubjectMapperTest.java
Labels: backend

#26 Add toastr
  backend/src/main/java/com/eshka/exception/Handler.java
  backend/src/main/java/com/eshka/exception/UserAlreadyExist.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config.ts
  frontend/src/containers/App/index.tsx
  frontend/src/helpers/webApi.helper.ts
  frontend/src/index.css
  frontend/src/reducers/index.ts
  frontend/src/sagas/auth/sagas.ts
Labels: frontend

#24 Add joining to team
  backend/src/main/java/com/eshka/controller/TeamController.java
  backend/src/main/java/com/eshka/entity/Team.java
  backend/src/main/java/com/eshka/entity/User.java
  backend/src/main/java/com/eshka/repository/TeamRepository.java
  backend/src/main/java/com/eshka/service/TeamService.java
  backend/src/main/java/com/eshka/service/impl/TeamServiceImpl.java
  backend/src/main/resources/application.properties
Labels: backend, fix

#32 Finalize teams & subjects frontend
  backend/src/main/java/com/eshka/controller/AuthController.java
  backend/src/main/java/com/eshka/controller/TeamController.java
  backend/src/main/java/com/eshka/controller/UserController.java
  backend/src/main/java/com/eshka/dto/request/UserDTO.java
  backend/src/main/java/com/eshka/dto/response/TeamFullResponse.java
  backend/src/main/java/com/eshka/entity/Queue.java
  backend/src/main/java/com/eshka/entity/Team.java
  backend/src/main/java/com/eshka/entity/User.java
  backend/src/main/java/com/eshka/mapper/SubjectMapper.java
  backend/src/main/java/com/eshka/mapper/TeamMapper.java
  backend/src/main/java/com/eshka/mapper/UserMapper.java
  backend/src/main/java/com/eshka/service/TeamService.java
  backend/src/main/java/com/eshka/service/UserService.java
  backend/src/main/java/com/eshka/service/impl/TeamServiceImpl.java
  backend/src/main/java/com/eshka/service/impl/UserServiceImpl.java
  frontend/src/components/CreateSubjectWindow/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/InvitePage/index.tsx
  frontend/src/components/InvitePage/styles.module.sass
  frontend/src/components/JoinTeamWindow/index.tsx
  frontend/src/components/Team/index.tsx
  frontend/src/components/TeamsList/index.tsx
  frontend/src/components/TreamManagePage/index.tsx
  frontend/src/containers/Dashboard/index.tsx
  frontend/src/containers/Dashboard/styles.module.sass
  frontend/src/containers/PrivateRoute/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/containers/SubjectPage/index.tsx
  frontend/src/containers/TeamPage/index.tsx
  frontend/src/containers/TeamPage/styles.module.sass
  frontend/src/models/appState.ts
  frontend/src/models/queue.ts
  frontend/src/models/subject.ts
  frontend/src/models/team.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/queue/reducer.ts
  frontend/src/reducers/subject/reducer.ts
  frontend/src/reducers/team/reducer.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/queue/routines.ts
  frontend/src/sagas/queue/sagas.ts
  frontend/src/sagas/subject/routines.ts
  frontend/src/sagas/subject/sagas.ts
  frontend/src/sagas/team/routines.ts
  frontend/src/sagas/team/sagas.ts
Labels: fix, frontend
